body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
header {
    text-align: center;
    padding: 90px 50px 50px 50px;
    background: #f8f8f8;
    display: flex;
    flex-direction: column;
}

nav {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: all 0.3s;
    padding-bottom: 2.5px;
}

nav a:hover {
    color: white;
    border-bottom-color: grey;
}

@media (max-width: 600px) {
    nav {
        display: none;
    }
}

section {
    text-align: center;
    padding: 100px 20px;
    background: #fff;
}
img {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
}
h1 {
    font-size: 48px;
    margin: 0;
    font-family: serif;
    font-size: clamp(34px, 5vw, 48px);
}

h2 {
    font-size: 1.5em;
    margin-top: 10px;
    color: #555;
    font-size: clamp(20px, 2.5vw, 24px);
}

p {
    font-weight: bold;
    margin: 0;
    max-width: 740px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #f8f8f8;
}

.section-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    padding: 40px;
    gap: 20px;
}

.footer {
    max-width: none;
    color: #555;
    font-size: 12px;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.image-container img {
    transition: filter 0.3s ease;
}

.image-container:hover img {
    filter: brightness(70%); /* Darken the image */
}

.city-name {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: clamp(20px, 6.6vw, 100px);
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .city-name {
    opacity: 1; /* Show the city name on hover */
}